<h4></h4>
<table class="editorDemoTable" style="vertical-align: top;">
<thead>
<tr style="height: 83px;">
<td style="background-color: #1093bc; width: 207px; height: 83px;" colspan="3"><img src="https://icinga.com/wp-content/uploads/2014/06/logo_icinga_white-e1407071914762.png" alt="icinga_logo" width="200" height="78" /></td>
</tr>
</thead>
<tbody>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 207px; height: 25px;"><strong>Inline styles</strong></td>
<td style="min-width: 140px; width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
<td style="min-width: 140px; width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
</tr>
<tr style="height: 25px;">
<td style="width: 207px; height: 25px;"><strong>Setting margins</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
</tr>
<tr style="height: 25px;">
<td style="width: 207px; height: 25px;"><strong>Links and images</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
</tr>
<tr style="height: 25px;">
<td style="width: 207px; height: 25px;"><strong>Tables and lists</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 207px; height: 25px;"><strong>Floating an image</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
<td style="width: 140px; height: 25px;"><strong>&nbsp;</strong></td>
</tr>
</tbody>
</table>
<hr />
<p>Set up the cleaning options and click the <span style="background-color: #4485b8; color: #fff; display: inline-block; padding: 2px 8px; font-weight: bold; border-radius: 5px;">Clean</span> button, try the <strong>Tag manager</strong></p>
<hr />
<p></p>
